<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Feed</title>
</head>
<body>
	<% if feeds[0].kind == "tweet" %>
			<% header = "Twitter" %>
		<% elsif feeds[0].kind == "forecast" %>
			<% header = "Weather" %>
		<% elsif feeds[0].kind == "article" %>
			<% header = "New York Times" %>
		<% elsif feeds[0].kind == "sound" %>
			<% header = "Soundcloud" %>
	<% end %>
	<h1><%= header %></h1>	
	<% feeds.order(id: :desc).each do |feed| %>
	<% if header == "Twitter"
		hash = "\#" 
	else
		hash = ""  
	end %>
	<h3><%= hash + "#{feed.search} - " %><em><%= "#{feed.date}"%></em></h3>
	<form action="/feed/search" method="GET">
		<input type="text" name="search" placeholder="Search Tag">
		<input type="hidden" name="feed_id" value="<%= feed.id %>">
		<button>Search</button>
	</form>
	<form action="/feed" method="POST">
		<input type="hidden" name="_method" value="delete">
		<input type="hidden" name="feed_id" value="<%= feed.id %>">
		<button>Delete Feed</button>
	</form>
		<ul> 
		<% kind = feed.kind.capitalize.constantize.where(feed_id: feed.id).order(id: :asc) %>
		<% kind.each do |f| %>
			<li><a href="<%= f.url %>"><%= f.content %></a>	<% if f.tag.length > 0
					button_label = "Update Tag" %>
					<%= " \##{f.tag}" %>
				<% else 
					button_label = "Add Tag"
				end %></li>
			<form action="/feed" method="POST">
				<input type="hidden" name="_method" value="PUT">
				<input type="hidden" name="feed_id" value="<%= f.feed_id %>">
				<input type="hidden" name="id" value="<%= f.id %>">
				<input type="text" name="tag" placeholder="<%= f.tag %>">
				<button><%= button_label %></button>
			</form>
			<form action="/feed" method="POST">
				<input type="hidden" name="_method" value="PUT">
				<input type="hidden" name="feed_id" value="<%= f.feed_id %>">
				<input type="hidden" name="id" value="<%= f.id %>">
				<input type="hidden" name="tag" value="">
				<button>Delete Tag</button>
			</form> 
			<form action="/feed/post" method="POST">
				<input type="hidden" name="_method" value="delete">
				<input type="hidden" name="feed_id" value="<%= f.feed_id %>">
				<input type="hidden" name="id" value="<%= f.id %>">
				<button>Delete Post</button>
			</form> 
		<% end %>
		</ul>
	<% end %>
</body>
</html>