<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RadDash</title>
</head>
<body>
	<h1>RadDash</h1>
	<h3>Add Feed</h3>
	<form action="/feed/add" method="POST">
		<select name="kind">
			<option value="" disabled selected>Choose Feed</option>
			<option value="tweet">Twitter</option>
			<option value="forecast">Weather</option>
			<option value="article">New York Times</option>
			<option value="sound">Soundcloud</option>
		</select>
		<input type="text" name="search" placeholder="Search Term">
		<button>Submit</button>
	</form>
	<% if feeds %>
		<h3>Feeds</h3>
		<form action="/feed/search" method="GET">
			<input type="text" name="search" placeholder="Search Tag">
			<button>Search</button>
		</form>
		<ul>
		<% feeds.order(id: :desc).each do |feed| %>
			<% if feed.kind == "tweet" %>
				<% header = "Twitter: \#" %>
			<% elsif feed.kind == "forecast" %>
				<% header = "Weather: " %>
			<% elsif feed.kind == "article" %>
				<% header = "New York Times: " %>
			<% elsif feed.kind == "sound" %>
				<% header = "Soundcloud: " %>	
			<% end %>
			<li><%= header + "#{feed.search} - " %><em><%= "#{feed.date}"%></em>
				<form action="/feed" method="POST">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="feed_id" value="<%= feed.id %>">
					<button>Delete Feed</button>
				</form>
				<form action="/feed/<%= feed.kind %>" method="GET">
					<button> See All <%= header.split(":")[0]%> Feeds </button>
				</form>
			</li>
			<ul>
			<% kind = feed.kind.capitalize.constantize.where(feed_id: feed.id) %>
			<% kind.order(id: :asc).each do |f| %>
				<li><a href="<%= f.url %>"><%= f.content %></a> 
				<% if f.tag.length > 0 %>
					<%= " \##{f.tag}" %>
				<% end %></li> 
			<% end %>
			</ul>
		<% end %>
	<% end %>
</body>
</html>
