<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RadDash</title>
</head>
<body>
	<h1>RadDash</h1>
	<h3>Add Feed</h3>
	<form action="/feed/add" method="POST">
		<select name="kind">
			<option value="" disabled selected>Choose Feed</option>
			<option value="tweet">Twitter</option>
			<option value="weather_forecast">Weather</option>
			<option value="nyt_article">New York Times</option>
		</select>
		<input type="text" name="search" placeholder="Search Term">
		<button>Submit</button>
	</form>
	<% if feeds %>
		<h3>Feeds</h3>
		<ul>
		<% feeds.reverse.each do |feed| %>
			<% if feed.kind == "tweet" %>
				<% header = "Twitter: \##{feed.search}" %>
			<% elsif feed.kind == "weather_forecast" %>
				<% header = "Weather: #{feed.search}" %>
			<% elsif feed.kind == "nyt_article" %>
				<% header = "New York Times: #{feed.search}" %>
			<% end %>
			<li><%= header %>
				<form action="/feed" method="POST">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="feed_id" value="<%= feed.id %>">
					<button>Delete Feed</button>
				</form>
				<form action="/feed/<%= feed.kind %>" method="GET">
					<button> See All <%= header.split(":")[0]%> Feeds </button>
				</form>
			</li>
			<ul>
			<% kind = feed.kind.capitalize.constantize.where(feed_id: feed.id) %>
			<% kind.each do |f| %>
				<li><a href="<%= f.url %>"><%= f.content %></a> 
				<% if f.tag.length > 0 %>
					<%= " \##{f.tag}" %>
				<% end %></li> 
			<% end %>
			</ul>
		<% end %>
	<% end %>
</body>
</html>
